.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    &-link {
        display: block;
        line-height: 1.22;
        color: #222;
        font-family: Proximanova;
        font-size: 50px;
        &:hover {
            text-decoration: none;
            color: #222;
        }
    }
}

.default {
    &-form {
        max-width: 460px;
        width: 100%;
        height: max-content;
        padding: 1.5rem;
        box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 5%);
        color: #333;
        border-radius: 8px;
        background-color: #fff;
    }
    &-btn {
        border: none;
        background-color: #59c659;
        line-height: 1.5;
        border-radius: .25rem;
        width: 100%;
        margin-top: 15px;
        color: #fff;
        font-family: Proximanova;
        font-size: 14px;
        padding: 8px;
    }
    &__form {
        &-title {
            font-family: Proximanova;
            color: #313131;
            letter-spacing: 1px;
            text-align: center;
        }
        &-subtitle {
            font-family: Proximanova;
            color: #777;
            letter-spacing: 1px;
            font-size: 14px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    &-link {
        color: #59c659;
        letter-spacing: .5px;
        font-family: Proximanova;
        font-size: 14px;
        text-decoration: underline;
        &:hover {
            color: #19692c;
        }
    }
    &-breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 0;
        margin-left: 30px;
        list-style: none;
        display: flex;
        align-items: baseline;
        &__item {
            font-size: 14px;
            font-family: Proxima Nova, work-Sans, sans-serif;
            color: #313131;
        }
    }
}

.d-block {
    color: #333;
    font-family: Proximanova;
    letter-spacing: .5px;
    font-size: 14px;
}

input {
    border: 1px solid #e8ebf2;
}

fieldset {
    padding: 0;
}

.custom-control-label {
    color: #333;
    font-family: 'Proximanova';
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 1.8;
}

.cheackbox {
    display: flex;
    align-items: center;
}

input::placeholder {
    font-family: 'Proximanova';
    color: #343a40;
    line-height: 1.5;
}

.hasError {
    input.form-control {
        border-color: red!important;
    }
    .vs__dropdown-toggle {
        border: 1px solid red;
    }
    .checkbox_animated:after {
        border: 1px solid red;
        width: 1.3rem;
        height: 1.3rem;
    }
}

.text-danger {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox_animated {
    cursor: pointer;
    position: relative;
    margin: 0 1rem 0 0;
    &:before {
        transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transform: rotate(-45deg) scale(0, 0);
        content: "";
        position: absolute;
        left: 0.25rem;
        top: 0.225rem;
        z-index: 1;
        width: 0.75rem;
        height: 0.375rem;
        border: 2px solid #4466f2;
        border-top-style: none;
        border-right-style: none;
    }
    &:after {
        content: "";
        position: absolute;
        top: -0.125rem;
        left: 0;
        width: 1.3rem;
        height: 1.3rem;
        background: #fff;
        border: 2px solid #e8ebf2;
        cursor: pointer;
        border-radius: 3px;
    }
    &:checked:before {
        transform: rotate(-45deg) scale(1, 1);
    }
}